.maze {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 4.5rem;
}

.component {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 15%;
    border:solid rgb(59, 43, 59) 2px;
    background-color: #f89b88;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font: bolder;
    font-size: 200%;
}

.controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: #ec3b1c;
}

.controllers input {
    width: 3.5rem;
}

.controllers input:disabled {
    cursor: not-allowed;
}

.controllers input,
.controllers label {
    margin-right: 5px;
    margin-left: 10px;
}

@media (max-width: 768px){
    .maze {
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .component {
        width: 5px;
        border: solid rgb(59, 43, 59) 0.1px;
        border-radius: 0%;
        font-size: 10px;
        margin-bottom: 0rem;
    }
    
    .controllers input {
        width: 2.5rem;
        height: 1.5rem;
    }
    
    .controllers input,
    .controllers label {
        margin-right: 0.5px;
        margin-left: 0.5px;
        font-size: 5px;
    }
}