.header {
    width: 100%;
    height: 2rem;
    display: flex;
    background: transparent;
    color: #ec3b1c;
    justify-content: space-between;
}

main {
    margin-top: 2rem;
}

@media (max-width: 768px){
    main {
        margin-top: 0.5rem;
    }
}
